/* =============================================================================
   Default Styles
   ========================================================================== */
aside,
div,
section
{
  box-sizing: border-box;
}

body{
  background-color: #111;
  color: white;
  font-family: proxima-nova-soft, helvetica, arial, sans-serif;
  font-family: "museo-sans",sans-serif;
  font-size: 12px;
  font-weight: regular;
  font-weight: 300;
  margin: 0;

  letter-spacing: 3px;
}

.slides,
.slide{
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
}
.slides{
  position: fixed;
}
.slide{
  position: absolute;
  -webkit-transition: all 1s ease-out;
  opacity: 1;

  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: center center;

  text-align: center;
  font-size: 36px;
  padding: 250px 200px;

  padding: 200px 150px;

}
.slide[data-slide-state="hidden"]{
  opacity: 0;
  -webkit-transform: rotateY(100deg) rotateX(40deg) scale(0.75);
}
.slide[data-slide-state="previous"]{
  opacity: 0;
  -webkit-transform: rotateY(-100deg) scale(0.75);
}
.slide[data-slide-state="current"]{
  opacity: 1;
  -webkit-transform: translateY(0) scale(1.0);
}

.schedule.slide,
.message.slide{
  text-align: left;
  padding: 80px 130px;
  font-weight: normal;
}

h1{
  font-size: 24px;
  margin-bottom: 30px;
  opacity: 0.75;
}

p{
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
  max-width: 400px;
}

li{
  padding: 10px 0;
  margin-bottom: 30px;
  padding-left: 120px;
  position: relative;
}



h1, h2{
  font-family: "museo-sans",sans-serif;
  font-weight: 800;
  letter-spacing: 12px;
  text-transform: uppercase;
}

.time{
  display: inline-block;
  position: absolute;
  left: 0px;
}
.location{
  margin-top: 10px;
  font-size: 24px;
  opacity: 0.5;
}

.slide.warning{
  background-color: #FDAA2D;
  color: #222;
}

strong{
  color: #FEC465;
}

.slide img{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

ul, li{
  list-style-type: none;
  padding: 0;
}


a{
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
