/* =============================================================================
   Default Styles
   ========================================================================== */
aside,
div,
section
{
  box-sizing: border-box;
}

body{
  background-color: #111;
  color: white;
  font-family: "museo-sans", helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: regular;
  font-weight: 300;
  margin: 0;

  letter-spacing: 3px;
}


a{
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

h1, h2{
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 12px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

p{
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
  max-width: 400px;
}

li{
  padding: 10px 0;
  margin-bottom: 30px;
}

.slide img{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.slides,
.slide{
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
}
.slides{
  position: fixed;
}
.slide{
  position: absolute;
  -webkit-transition: all 1s ease-out;
  opacity: 1;

  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: center center;

  text-align: center;
  font-size: 36px;

  padding: 200px 150px;

}
.slide[data-slide-state="hidden"]{
  opacity: 0;
  -webkit-transform: rotateY(100deg) rotateX(40deg) scale(0.75);
}
.slide[data-slide-state="previous"]{
  opacity: 0;
  -webkit-transform: rotateY(-100deg) scale(0.75);
}
.slide[data-slide-state="current"]{
  opacity: 1;
  -webkit-transform: translateY(0) scale(1.0);
}